doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title AWS CODESTAR
  body
    .header
      h1.page-title AWS CODESTAR

    ul.nav
      li: a(href='/') Home
      li: a(href='#news') News
      li: a(href='#about') About
      li: a(href='#contact') Contact
    
    .main-content
      block content

